<div class="cart-container">
    <div [class]="totalClass">₹{{getTotalPrice()}}</div>
    <div class="drop-area" cdkDropList [cdkDropListData]="cartItems" (cdkDropListDropped)="onDrop($event)"></div>
    <div class="cart" #cart>
        @for (product of cartItems; track product.id) {
            <app-product [product]="product" [isCart]="true"
            [style.transform]="`translate(${product.x || 0}px, ${product.y || 0}px)`" cdkDrag cdkDragBoundary=".cart"></app-product>
        }
    </div>
</div>