@use '../../shared/variables' as *;

.cart-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.drop-area {
  width: 87%;
  height: 89%;
  position: absolute;
  border-radius: 5%;
  top: -17%;
  transform: rotateX(30deg) translateZ(-100px);
}

.cart {
  width: 70%;
  height: 72%;
  position: relative;
  overflow: hidden;
  transform: rotateX(30deg) translateZ(-50px) translateY(5%);
}

app-product {
  position: absolute;
}

.cart h3 {
  margin-top: 0;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin-bottom: 5px;
}

.total {
  font-family: $font-family;
  font-style: $font-style;
  line-height: $line-height;
  position: absolute;
  z-index: 1;
  top: 0;
  width: fit-content;
  padding: 0 10%;
  height: 65px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-d-total {
  border: 5px solid $border-cart;
  border-radius: 5px;
  background-color: black;
  color: $font-white;
  font-size: $font-size-lg;
  font-weight: $font-weight;
}

.minimalist-total {
  background-color: $minimalist-primary-color;
  color: $minimalist-background-color;
  font-size: $minimalist-font-size-total;
  font-weight: $font-weight;
  border-radius: 10px;
}

.medival-total {
  background-color: $medival-primary-color;
  color: $medival-secondary-color;
  border: 6px ridge $medival-border-color;
  font-size: $minimalist-font-size-total;
  font-weight: $font-weight;
  border-radius: 10px;
}

.cyberpunk-total {
  background-color: $cyberpunk-background-color;
  color: $cyberpunk-primary-color;
  font-size: $cyberpunk-font-size-total;
  font-weight: $cyberpunk-font-weight;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 0 5px $cyberpunk-primary-color,
    0 0 5px $cyberpunk-primary-color,
    0 0 20px $cyberpunk-primary-color,
    inset 0 0 5px 2px $cyberpunk-primary-color;
  text-shadow: 0 0 2px $cyberpunk-primary-color,
    0 0 2px $cyberpunk-primary-color;
}

//cdk specific
.cdk-drop-list-dragging {
  background-color: grey;
  opacity: 0.5;
}