.cart {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

app-product {
  position: absolute;
}

.cart h3 {
  margin-top: 0;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin-bottom: 5px;
}

.total {
  margin-top: auto;
  margin-bottom: 5%;
  font-weight: bold;
  align-self: center;
}

// cdk specific
.cdk-drop-list-dragging {
  opacity: 0.5;
}

.cdk-drop-list-receiving {
  border: 3px dashed red;
}