//2d section

$primary-color: #00A8E3;
$secondary-color: #0094C8;
$border-color: #006082;
$border-cart: #63B2CB;
$shadow-color: rgba(0, 96, 130, 0.17);
$background-color: #FFEEC9;

$font-family: "Comic Sans MS";
$font-size: 15px;
$font-size-lg: 30px;
$font-style: normal;
$font-weight: 700;
$line-height: normal;
$font-white: #FFFFFF;


//minimalist section

$minimalist-background-color: #f3ede3;
$minimalist-primary-color: #2e2e2b;
$minimalist-secondary-color: #353532;
$minimalist-shadow-color: rgba(0, 0, 0, 0.5);
$minimalist-shadow-color-dark: #0e0d0b;


$minimalist-font-size-total: 50px;



//cyberpunk section

$cyberpunk-background-color: #000;
$cyberpunk-primary-color: #00a2ff;
$cyberpunk-secondary-color: #00bfff;
$cyberpunk-bright-color: #0077ff;
$cyberpunk-shadow-color: rgba(0, 0, 0, 0.5);
$cyberpunk-shadow-color-dark: #0e0d0b;
$cyberpunk-product-color: #066399;


$cyberpunk-font-size-total: 40px;
$cyberpunk-font-weight: 500;

//medieval section

$medieval-background-color: #000;
$medieval-primary-color: #b67c44;
$medieval-secondary-color: #5c330f;
$medieval-border-color: #b86c2a;
$medieval-bright-color: #0077ff;
$medieval-shadow-color: black;
$medieval-shadow-color-dark: #0e0d0b;
$medieval-product-color: #066399;


$medieval-font-size-total: 40px;
$medieval-font-weight: 500;