$primary-color: #00A8E3;
$secondary-color: #0094C8;
$border-color: #006082;
$shadow-color: rgba(0, 96, 130, 0.17);
$background-color: #FFEEC9;

$font-family: "Comic Sans MS";
$font-size: 15px;
$font-style: normal;
$font-weight: 700;
$line-height: normal;