// COLORS
$primary-color: #00A8E3;
$secondary-color: #0094C8;
$border-color: #006082;
$shadow-color: rgba(0, 96, 130, 0.17);

$danger-color: #F44336;
$background-color: #FFEEC9;
$text-color: #333;

// FONT SIZES
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;

// SPACING
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;