@use '../../shared/variables' as *;

.product-card {
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 5px solid $border-color;
    border-radius: 8px;
    background-color: $background-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: grab;
    position: relative;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-name,
.product-price {
    position: absolute;
    color: $secondary-color;
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font_style;
    font-weight: $font_weight;
    line-height: $line_height;
}

.product-name {
    bottom: 5px;
}

.product-price {
    top: 0;
    right: 5px;
}

.cart-image {
    filter: drop-shadow(0 0 0 black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 3px black) drop-shadow(0 0 4px black);
    cursor: grab;
}