@use '../../shared/variables' as *;

.rack-section-container {
    height: 101vh;
    overflow-y: hidden;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.rack-floater {
    position: absolute;
    height: 101%;
    width: 100%;
    display: flex;
    gap: 2rem;
    top: 0;
    left: 0;
}

.left-rack-container,
.right-rack-container {
    flex: 1;
    min-width: 250px;
    height: 100%;
    display: flex;

    .rack {
        height: 100%;
        width: 50%;
        background-color: $cyberpunk-background-color;
        box-shadow: -6px 1px 14px 8px $cyberpunk-shadow-color;
        border-left: 3px solid white;
        border-right: 3px solid white;
        box-shadow:
            0 0 5px $cyberpunk-primary-color,
            0 0 15px $cyberpunk-secondary-color,
            0 0 20px $cyberpunk-bright-color;
    }
}

.left-rack-container {
    justify-content: end;
}

.cart-placeholder {
    flex: 1.5;
    min-width: 250px;
    height: 100%;
    align-items: center;
}