<div cdkDropListGroup>
    <div class="cart-app">
        <img src="assets/images/cart_img.png" alt="cart-image">
        <app-cart></app-cart>
    </div>
    @for (section of rackSections; track section) {
    <div class="rack-section-container">
        <div class="left-rack-container">
            <div class="rack-pillar">
                <div class="pillar"></div>
                <div class="pillar"></div>
            </div>
            <div class="rack">
                <app-rack [products]="section.leftRack" [rackSide]="'left'"></app-rack>
            </div>
        </div>
        <div class="cart-placeholder"></div>
        <div class="right-rack-container">
            <div class="rack">
                <app-rack [products]="section.rightRack" [rackSide]="'right'"></app-rack>
            </div>
            <div class="rack-pillar">
                <div class="pillar"></div>
                <div class="pillar"></div>
            </div>
        </div>
    </div>
    }
</div>