<div cdkDropListGroup>
    @for (section of rackSections; track section.id) {
    @switch (section.theme) {
    @case (Themes.TWO_D) {
    <app-two-d-section [ngClass]="'section-' + section.id" [section]="section">
    </app-two-d-section>
    }
    @case (Themes.MINIMALIST) {
    <app-minimalist-section [ngClass]="'section-' + section.id" [section]="section">
    </app-minimalist-section>
    }
    @case (Themes.CYBERPUNK) {
    <app-cyberpunk-section [ngClass]="'section-' + section.id" [section]="section">
    </app-cyberpunk-section>
    }
    @case (Themes.MEDIEVAL) {
    <app-medieval-section [ngClass]="'section-' + section.id" [section]="section">
    </app-medieval-section>
    }
    }
    }

    <div class="cart-app" aria-hidden="true">
        <img class="cart-current"
            [ngClass]="{'minimalist-shadow': currentTheme === Themes.MINIMALIST, 'medieval-shadow': currentTheme === Themes.MEDIEVAL}"
            [src]="currentCartImage" alt="cart current" />
        <img class="cart-next"
            [ngClass]="{'minimalist-shadow': currentTheme === Themes.MINIMALIST, 'medieval-shadow': currentTheme === Themes.MEDIEVAL}"
            [src]="nextCartImage" alt="cart next" />
        <app-cart [totalClass]="`${currentTheme}-total`"></app-cart>
    </div>
</div>